@mixin home-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    home{

        .home-header {
            color: map-get($foreground, secondary-text);
            background: map-get($background, app-bar);
            border-bottom-color: map-get($foreground, divider);
        }

        .home-source {

            .tab-content {

                .tab {

                    .home {
                        border-bottom-color: map-get($foreground, divider);
                    }
                }
            }
        }
    }
}